/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Syncopate', sans-serif;
font-family: 'Wire One', sans-serif;
*/

#background:before  {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("../images/AV_Web_-34.jpg");
  background-size:cover;
  width: 100%;
  height: 100%;
  filter: blur(2px) contrast(200%) sepia(50%);
  opacity: .7;
}

.hidden {
  display: none;
}

.mainTitle {
  font-family: 'Syncopate', sans-serif;
  text-shadow: 3px -5px 5px white;
}

.startbox {
  width: 50%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 100px;
  opacity: .7;
  border-radius: 20px;
  box-shadow: 5px 10px 20px black;
  text-align: center;
  font-family: 'Wire One', sans-serif;
  font-size: 40px;
  padding-top: 5px;
}

.resultbox {
  background-color: white;
  opacity: .7;
  border-radius: 20px;
  box-shadow: 5px 10px 20px black;
  font-family: 'Wire One', sans-serif;
  font-size: 20px;
  /*padding: 10px;*/
  margin-top: 20px;
}

.input, #search-button {
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  vertical-align: middle;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  margin-left: 5px;
}
