#background:before  {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("../images/AV_Web_-34.jpg");
  background-size:cover;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  opacity: .7;
}

.greybox {
  box-sizing: border-box;
  display: block;
  background-color: grey;
  border: 2px solid black;
  width: 400px;
  height: auto;
  margin-bottom: 5px;
}

.startbox {
  margin-left: auto;
  margin-right: auto;
}
